[submodule "svelte_todo_web"]
	path = svelte_todo_web
	url = https://github.com/pharesdiego/svelte_todo_web.git
[submodule "svelte_todo_api"]
	path = svelte_todo_api
	url = https://github.com/pharesdiego/svelte_todo_api.git